<a href="https://colab.research.google.com/github/jessamcs/Sales-Repository/blob/main/SalesProj1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
filename = '/content/sales_predictions.csv'

df = pd.read_csv(filename)

df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [2]:
# How many rows and columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [13]:
# What are the datatypes of each variable?
a = str("Item_Identifier")

In [6]:
# Are there duplicates? If so, drop any duplicates.
dup = df[df.duplicated()]

print(dup)

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [7]:
# Identify missing values.
missing_item_weight_filter = df['Item_Weight'].isnull()

missing_item_weight = df.loc[missing_item_weight_filter, :]

missing_item_weight

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [8]:
# Decide on how to address the missing values and do it!
df['Item_Weight'].fillna(0, inplace = True)
df['Outlet_Size'].fillna("NA", inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [9]:
#  Confirm that there are no missing values after addressing them.
df.count()

Item_Identifier              8523
Item_Weight                  8523
Item_Fat_Content             8523
Item_Visibility              8523
Item_Type                    8523
Item_MRP                     8523
Outlet_Identifier            8523
Outlet_Establishment_Year    8523
Outlet_Size                  8523
Outlet_Location_Type         8523
Outlet_Type                  8523
Item_Outlet_Sales            8523
dtype: int64

In [10]:
# Find and fix any inconsistent categories of data
print(df['Item_Fat_Content'].unique())
print(df['Item_Type'].unique())
print(df['Outlet_Size'].unique())
print(df['Outlet_Location_Type'].unique())
print(df['Outlet_Type'].unique())

['Low Fat' 'Regular' 'low fat' 'LF' 'reg']
['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
['Medium' 'NA' 'High' 'Small']
['Tier 1' 'Tier 3' 'Tier 2']
['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

In [11]:
# 8 Obtain the summary statistics of each (min, max, mean)
df.groupby(['Outlet_Type','Outlet_Size', 'Item_Type']).mean()
df.groupby(['Outlet_Type','Outlet_Size', 'Item_Type']).min()
df.groupby(['Outlet_Type','Outlet_Size', 'Item_Type']).max()

                                            Item_Identifier  ...  Item_Outlet_Sales
Outlet_Type       Outlet_Size Item_Type                      ...
Grocery Store     NA          Baking Goods            FDZ59  ...           792.3020
                              Breads                  FDY47  ...          1524.0162
                              Breakfast               FDR37  ...          1094.5752
                              Canned                  FDZ01  ...           621.1914
                              Dairy                   FDZ26  ...          1314.9550
...                                                     ...  ...                ...
Supermarket Type3 Medium      Others                  NCQ43  ...          5546.1140
                              Seafood                 FDJ45  ...          5704.5744
                              Snack Foods             FDZ58  ...         10993.6896
                              Soft Drinks             DRZ24  ...          9554.2300
                              Starchy Foods           FDH35  ...          7443.6440

[128 rows x 9 columns]